@import "../../../palette.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  .shape {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.12s linear;
    z-index: -1;
  }

  .shapeIdle {
    fill: $primary;
    filter: drop-shadow(0 4px 4px $primaryIdleShadow)
      drop-shadow(0 0 1px $primaryIdleShadow)
      drop-shadow(0 0 1px $primaryIdleShadow);
  }
  &:hover .shapeIdle {
    fill: $primaryHover;
  }
  &:active .shapeIdle {
    fill: $primary;
    filter: none;
  }

  .shapeActive {
    fill: $primaryActive;
  }

  .shapeDisabled {
    fill: $primaryActive;
  }

  .icon {
    display: flex;
    align-items: center;
    transition: 0.12s linear;
    max-width: 24px;
  }
  .iconIdle {
    & > svg {
      fill: $fontWhite;
      transition: 0.12s linear;
    }
  }
  .iconActive {
    & > svg {
      fill: $fontTitle;
      transform: rotate(45deg);
      transition: 0.12s linear;
    }
  }
  .iconDisabled {
    & > svg {
      fill: $primaryDisabled;
    }
  }
  &:active .iconIdle {
    & > svg {
      fill: $primaryFontClicked;
    }
  }

  .title {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.149333px;
    transition: 0.12s linear;
  }
  .titleIdle {
    color: $fontWhite;
  }
  .titleActive {
    color: $fontTitle;
  }
  .titleDisabled {
    color: $primaryDisabled;
  }
  &:active .titleIdle {
    color: $primaryFontClicked;
  }
}
