@import "../../../palette.scss";

.ctabutton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  will-change: filter;

  .shape {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.08s linear;
    z-index: -1;
  }

  .shapeIdle {
    will-change: filter;
    fill: $primary2;
    filter: drop-shadow(0 12px 16px $primary2IdleShadow);
    // filter: drop-shadow(0 4px 11px $primary2IdleShadow)
    // drop-shadow(0 0 2px $primaryIdleShadow2)
    // drop-shadow(0 0 1px $primaryIdleShadow3);
  }

  .shapeActive {
    fill: $primaryActive;
  }

  .shapeDisabled {
    fill: $primaryActive;
  }

  &:hover .shapeIdle {
    fill: $primary2Hover;
    filter: drop-shadow(0 4px 8px $primary2IdleShadow);
  }

  &:active .shapeIdle {
    fill: $primary2;
    filter: none;
  }

  // ICON

  .icon {
    display: flex;
    align-items: center;
    transition: 0.12s linear;
    max-width: 24px;

    & > svg {
      transition: 0.08s linear;
    }
  }

  .iconIdle {
    & > svg {
      fill: $fontTitle;
    }

    :global(.cta_path2) {
      fill: $fontWhite;
      opacity: 0.4;
    }

    :global(.cta_path1) {
      fill: $fontWhite;
    }
  }

  .iconActive {
    & > svg {
      fill: $fontTitle;
    }

    :global(.cta_path2) {
      fill: $fontTitle;
      opacity: 0.4;
    }

    :global(.cta_path1) {
      fill: $fontTitle;
    }
  }

  .iconDisabled {
    & > svg {
      fill: $primaryDisabled;
    }

    :global(.cta_path2) {
      fill: $primaryDisabled;
      opacity: 0.4;
    }

    :global(.cta_path1) {
      fill: $primaryDisabled;
    }
  }

  &:hover .iconIdle {
    & > svg {
      fill: $fontWhite;
    }

    :global(.cta_path1) {
      fill: $ctaIconHover1;
    }

    :global(.cta_path2) {
      fill: $ctaIconHover2;
      opacity: 1;
    }
  }

  &:active .iconIdle {
    // & > svg {
    //   fill: $primaryFontClicked;
    // }

    :global(.cta_path1) {
      fill: $ctaIconHover1;
    }

    :global(.cta_path2) {
      fill: $ctaIconHover2;
      opacity: 1;
    }
  }

  // TITLE

  .title {
    font-family: Inter;
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.149333px;
    transition: 0.12s linear;

    .subtitle {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.15px;
      opacity: 0.72;
    }
  }

  .titleIdle {
    color: $fontWhite;
  }

  .titleActive {
    color: $fontTitle;
  }

  .titleDisabled {
    color: $primaryDisabled;
  }

  // &:active .titleIdle {
  //   color: $primaryFontClicked;
  // }
}
