@import "../../../palette.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  .shape {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.12s linear;
    z-index: -1;
  }

  .shapeIdle {
    fill: $outline;
    stroke: $outlineStroke;
    stroke-width: 2px;
  }
  &:hover .shapeIdle {
    fill: $outline;
    stroke: $outlineHover;
  }
  &:active .shapeIdle {
    fill: $outlineClick;
    stroke: $outlineClick;
  }

  .shapeActive {
    fill: $primaryActive;
    stroke: $primaryActive;
    stroke-width: 2px;
  }

  .shapeDisabled {
    fill: $primaryActive;
    stroke: $primaryActive;
    stroke-width: 2px;
  }

  .icon {
    display: flex;
    align-items: center;
    transition: 0.12s linear;
  }
  .iconIdle {
    & > svg {
      fill: $primary;
      transition: 0.12s linear;
    }
  }
  .iconActive {
    & > svg {
      fill: $fontTitle;
      transform: rotate(45deg);
      transition: 0.12s linear;
    }
  }
  .iconDisabled {
    & > svg {
      fill: $primaryDisabled;
    }
  }
  &:active .iconIdle {
    & > svg {
      fill: $outlineFontClicked;
    }
  }

  .title {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.149333px;
    transition: 0.12s linear;
  }
  .titleIdle {
    color: $primary;
  }
  .titleActive {
    color: $fontTitle;
  }
  .titleDisabled {
    color: $primaryDisabled;
  }
  &:active .titleIdle {
    color: $outlineFontClicked;
  }
}
