@import "../../../palette.scss";

.trig {
  cursor: pointer;

  & > svg {
    width: 26px;
    height: 26px;
    transform: rotate(90deg);
    transition: 0.08s linear;
  }

  :global(.cta_path1) {
    fill: $chatfont1hover;
    transition: 0.08s linear;
  }

  :global(.cta_path2) {
    fill: $fontWhite;
  }
}

.trig_act {
  & > svg {
    transform: rotate(270deg);
  }

  :global(.cta_path1) {
    fill: $chatfont1;
  }
}
