@import "../../palette.scss";

.lot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .detailes {
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 24px;

    .status {
      margin-bottom: 24px;
    }

    .spacer {
      display: block;
      width: 100%;
      height: 1px;
      background-color: $spacer;
      margin-bottom: 32px;
    }

    .buttons {
      &_block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
      }
    }

    .offers_title {
      font-weight: 800;
      font-size: 22px;
      letter-spacing: -0.64px;
      color: $fontTitle;
      margin-bottom: 16px;
    }
  }

  .description {
    width: 100%;
    margin-bottom: 120px;

    .author {
      margin-bottom: 16px;
    }

    .majortitle {
      font-weight: 800;
      font-size: 22px;
      letter-spacing: -0.64px;
      color: $fontTitle;
      margin-bottom: 6px;
    }

    .minortitle {
      font-weight: 700;
      font-size: 15px;
      letter-spacing: -0.4px;
      color: $fontTitle;
      margin-bottom: 6px;
    }

    .majortext {
      font-weight: 500;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: -0.08px;
      color: $fontGrey;
      margin-bottom: 16px;
    }

    .addinfo {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      &_title {
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: -0.08px;
        color: $fontGrey;
        margin-bottom: 6px;
      }

      &_value {
        font-weight: bold;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: -0.08px;
        color: $fontTitle;
      }
    }
  }
}

@media (min-width: 768px) {
  .lot {
    flex-direction: row;

    .detailes {
      width: 50%;
    }

    .description {
      width: calc(50% - 39px);
    }
  }
}
