@import "../../../palette.scss";

@mixin container {
  position: relative;
  width: calc(20% - 3.2px);
  height: 0;
  padding-top: calc(20% - 3.2px);
  margin-left: 4px;

  &:first-child {
    margin-left: 0;
  }
}

@mixin photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $fontWhite;
  mask-image: url(../../../Assets/Masks/commonBtn.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
}

.uploading {
  @include container;

  &:first-child {
    margin-right: 4px;
  }

  .loaderMask {
    display: flex;
    justify-content: center;
    align-items: center;
    @include photo;

    & > img {
      width: 40%;
      height: 40%;
      object-fit: cover;
    }
  }
}

.photoCont {
  @include container;
  cursor: pointer;

  .photo {
    @include photo;
    object-fit: cover;
  }

  &::after {
    content: "";
    @include photo;
    background-color: $primaryHover;
    opacity: 0;
    transition: 0.08s linear;
  }

  &:hover::after {
    opacity: 0.8;
  }

  &:active::after {
    opacity: 0.5;
  }

  & > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%);
    fill: $fontWhite;
    z-index: 20;
  }
}
