@import "../../palette.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 72px;
  margin-bottom: 24px;
  transition: 0.06s linear;
  .pad {
    flex-shrink: 0;
    .logo {
      display: flex;
      align-items: center;
      height: 42px;
      will-change: filter;
      filter: drop-shadow(0 12px 16px $primary2IdleShadow);
    }
    .user {
      display: flex;
      align-items: center;
      text-decoration: none;
      & > p {
        display: none;
        font-size: 14px;
        font-weight: 600;
        color: $fontGrey;
      }
      & > img {
        width: 42px;
        height: 42px;
        margin-left: 16px;
        border-radius: 50%;
        object-fit: cover;
        will-change: filter;
        filter: drop-shadow(0 12px 16px $primary2IdleShadow);
      }
      &:hover img {
        opacity: 1;
        filter: drop-shadow(0 4px 8px $primary2IdleShadow);
        transform: scale(1.1);
      }
    }
    .loginButton {
      text-decoration: none;
    }
  }
}

@media (min-width: 640px) {
  .header {
    margin-top: 72px;
    margin-bottom: 32px;
    .pad {
      .user {
        & > p {
          display: block;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .header {
    margin-top: 72px;
    margin-bottom: 64px;
  }
}
