$fontWhite: #ffffff;
$fontGrey: #413f46;
$fontTitle: #160242;
$fontDanger: #f2002c;
$font4: #948ea3;
$font5: #c0540b;

$primary: #4e00f2;
$primaryIdleShadow: #4e00f252;
$primaryHover: #573cff;
$primaryActive: #edeff2;
$primaryDisabled: #b5b1bf;
$primaryFontClicked: #ccd1ff;

$outline: #f9f8ff;
$outlineStroke: #efecff;
$outlineHover: #c6bcff;
$outlineClick: #e7e3ff;
$outlineFontClicked: #4617a8;

$idleTransparent: #4d00f22f;
$activeTransparent: #4d00f2ad;

$disabledText: #d4d1eb;
$disabledIdle: #f9f8ff;
$disabledStrike: #efecff;

$txt: #ffffff;
$txtclick: #ccd1ff;
$txtclick2: #4617a8;
$txtactive: #160242;
$spacer: #d8d8d8;
$modalbg: #5d5472;
$modal1: #372e4b;
$modal2: #120a23;
$modal3: #4cd964;

$service: #9fec4698;
