$fontWhite: #ffffff;
$fontGrey: #413f46;
$fontTitle: #160242;
$fontDanger: #f2002c;
$fontSub: #948ea3;
$font5: #c0540b;

$primary: #4e00f2;
$primaryIdleShadow: rgba(87, 60, 255, 0.18);
$primaryIdleShadow2: rgba(87, 60, 255, 0.40);
$primaryIdleShadow3: rgba(22, 2, 66, 0.75);
$primaryTransparent: #4d00f2c0;
$primaryHover: #573cff;
$primaryActive: #edeff2;
$primaryDisabled: #b5b1bf;
$primaryFontClicked: #ccd1ff;

$outline: #f9f8ff;
$outlineStroke: #efecff;
$outlineHover: #c6bcff;
$outlineClick: #e7e3ff;
$outlineFontClicked: #4617a8;


$shape: #edeff2;
$formSpacer: #e1e1e8;
$spacer: #d8d8d8;
$galleryTint: #413f4686;

// $idleTransparent: #4d00f22f;


$disabledText: #d4d1eb;
$disabledIdle: #f9f8ff;
$disabledStrike: #efecff;

// $txt: #ffffff;
// $txtclick: #ccd1ff;
// $txtclick2: #4617a8;
// $txtactive: #160242;

